---
import Layout from "../layouts/Layout.astro";
import apiData from "../data/api-data";
import { createQuestionUrl, getFullUrl, mapApiData } from "../utils/utils";
import type { ApiDataItem, QuestionPageData } from "../store/questions";

export async function getStaticPaths() {
  const category = "b";

  return mapApiData(apiData as ApiDataItem[]).map((q, index) => {
    const questionPageData: QuestionPageData = {
      ...q,
      slug: createQuestionUrl(q.id, category),
      category,
      prevSlug:
        index === 0
          ? getFullUrl(createQuestionUrl(q.id, category))
          : getFullUrl(createQuestionUrl(apiData[index - 1].id, category)),
      nextSlug:
        index === apiData.length - 1
          ? getFullUrl(createQuestionUrl(q.id, category))
          : getFullUrl(createQuestionUrl(apiData[index + 1].id, category)),
    };

    return {
      params: { question_slug: questionPageData.slug },
      props: { questionPageData },
    };
  });
}

const { id, text, category, prevSlug, nextSlug } = Astro.props.questionPageData;
---

<Layout>
  <p><a href={prevSlug}>poprzednie</a> | <a href={nextSlug}>następne</a></p>
  <h2>Kategoria: <strong>{category}</strong>, id: {id}</h2>
  <h1>{text}</h1>

  <pre>{JSON.stringify( Astro.params, null,2)}</pre>
  <pre>{JSON.stringify( Astro.props, null,2)}</pre>
</Layout>
