---
import Button from '@mui/material/Button';

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Counter from '../reactComponents/Counter.jsx'
 

export async function getStaticPaths() {
  const length = 10
  const questions = Array.from({ length }, (_, i) => i+1).map(nr => {
    return {
          slug: `pytanie-${nr}`,
          nextSlug: `pytanie-${nr+1}`,
          text: `Pytanie nr ${nr}`,
          }
      }
  )
    
  return questions.map((props) => {
    return {
      params: {  questions : props.slug },
      props ,
    };
  });
}

const {   text, slug, nextSlug } = Astro.props;


---
 

<Layout title={text}>
 
  <section class="page-content">
    <div class="container">
   
        <Card>
          <h3>{text}</h3>
          
<Button variant="outlined">Primary</Button>
<Button variant="outlined" disabled>
  Disabled
</Button>
<Button variant="outlined" href="#outlined-buttons">
  Link
</Button>
<Button color="secondary">Secondary</Button>
<Button variant="contained" color="success">
  Success
</Button>
<Button variant="outlined" color="error">
  Error
</Button>

      <Counter   />
      <Counter  />
         
          <a class="btn" href={`/${nextSlug}`}>Next question</a>
        </Card>
 
    </div>
  </section>
</Layout>
