---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import YesNoAnswer from "../reactComponents/YesNoAnswer.jsx";
import AbcAnswer from "../reactComponents/AbcAnswer.jsx";

import {data} from "../data/data.ts";
import {xxx} from "../pages/xxx.json.ts";

export async function getStaticPaths() {
  const length = 10;
  const questions = Array.from({ length }, (_, i) => i + 1).map((nr) => {
    return {
      slug: `pytanie-${nr}`,
      nextSlug: `pytanie-${nr + 1}`,
      text: `Pytanie nr ${nr}`,
    };
  });

  return questions.map((question) => {
    return {
      params: { questions: question.slug },
      props: {question, data},
    };
  });
}

 

const clickedAnswer = "TAK..";

const year = Date.now();
---

<Layout title={Astro.props.question.text}>
 
<YesNoAnswer client:visible />

<AbcAnswer client:visible />

 
  <div class="row">
    <div class="col">
<pre>{JSON.stringify(xxx, null,2)}</pre>
<pre>{JSON.stringify(Astro.props, null,2)}</pre>
 

    </div> 
  </div>
 
</Layout>
