---
import _ from "lodash";
import Layout from "../layouts/Layout.astro";
import postsFromOldWordpress from "../data/postsFromOldWordpress.json";
import type { WordpressPost } from "./index.astro";
import { createBigObjectDataForBuildTime } from "../utils/utils";
import apiData from "../data/api-data";
import QuestionsTable from "../reactComponents/QuestionsTable";

export async function getStaticPaths() {
  const bigData = createBigObjectDataForBuildTime(apiData);
  const { postsFromOldWordpresOrdered } = bigData;

  // IMPORTANT
  // IMPORTANT
  // IMPORTANT
  // IMPORTANT
  // This is generated first before QuestionsTable, because I want questions to override ols posts with same slug
  // IMPORTANT
  // IMPORTANT
  // IMPORTANT
  // IMPORTANT

  return postsFromOldWordpresOrdered.map((post) => ({
    params: {
      generate_first_oldwordpresspost: post.slug,
    },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <div class="row">
    <div class="col-12 col-lg-6">
      <section class="page-content text-start">
        <h1>{post.title}</h1>
        <p>{post.slug}</p>
        <p>{post.date}</p>
        <div set:html={post.html} />
      </section>
    </div>
  </div>
</Layout>
