---
import _ from "lodash";
import Layout from "../layouts/Layout.astro";
import CurrentYear from "../reactComponents/CurrentYear";
import { createBigObjectDataForInBuildTime, createQuestionUrl, getFullUrl, mapApiData } from "../utils/utils";
import postsFromOldWordpress from "../data/postsFromOldWordpress.json";
import apiData from "../data/api-data";
import { DEFAUTL_INITIAL_CURRENT_CATEGORY_VALUE } from "../settings/settings";
import { URLS } from "../urls/urls";
import StartLearningButtons from "../reactComponents/StartLearningButtons";
import { map } from "nanostores";

const bigData = createBigObjectDataForInBuildTime(apiData);
const { allCategories, allQuestions } = bigData;

export interface WordpressPost {
  slug: string;
  date: string;
  title: string;
  html: string;
}

const posts = _.orderBy(postsFromOldWordpress.postsFromOldWordpress, ["date"], ["desc"]).slice(
  0,
  50
) as WordpressPost[];
---

<Layout>
  <div class="row mb-3">
    <div class="col-12 col-lg-6">
      <div class="row mb-3">
        <div class="col">
          <h1 class="display-3 fw-bold">
            Testy na prawo jazdy <CurrentYear client:load />
          </h1>
          <p class="lead">
            Wszystkie pytania egzaminacyjne! Rozpocznij egzamin teoretyczny na prawo jazdy lub przeglądaj pytania
            testowe.
          </p>
        </div>
      </div>

      <StartLearningButtons client:load allCategories={allCategories} allQuestions={allQuestions} />

      <!-- ROW ROW  -->
      <div class="row mb-3 border">
        <p class="lead">
          <a href={URLS.DRIVING_LICENSE_CATEGIRIES}>
            Zmień domyślną kategorię pytań z testów na prawo jazdy jaką chcesz się uczyć!
          </a>
        </p>
      </div>

      <!-- ROW ROW  -->
      <div class="row mb-3 border">
        <p class="lead">
          Ostatnią aktualizację bazy pytań testowych zrobiłem w lutym <CurrentYear client:load /> roku.
        </p>
      </div>

      <div class="row mb-3">
        <div class="col">
          <h2 class="display-5">
            <span>Największa darmowa baza</span>

            <span class="badge bg-warning text-dark">
              {allQuestions.length}
            </span>

            <span> wszystkich pytań testowych na prawo jazdy wszystkich kategorii!!!</span>
          </h2>

          <h3>Posiadamy w naszej bazie pytania wszystkich kategorii!</h3>

          <p class="lead">
            <span>Dostępne kategorie to:</span>
            <strong class="small">
              {allCategories.join(", ").toUpperCase()}
            </strong>
          </p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <p>
            <strong>
              Kliknij poniżej i wybierz aktualną kategorię z testów na prawo jazdy której chcesz się teraz uczyć:
            </strong>
          </p>
          <div>
            {
              allCategories.map((cat) => {
                return (
                  <button class="btn btn-outline-secondary p-1 me-1 mb-1" type="button">
                    <strong> {cat} </strong>
                    <br />
                    <span class="small"> {allQuestions.filter((q) => q.categories.includes(cat)).length} - pytań</span>
                  </button>
                );
              })
            }
          </div>
        </div>
      </div>

      <!-- ROW ROW  -->
      <div class="row mb-3">
        <h2>Blog i artykuły:</h2>
        {
          posts.map((post, index) => (
            <p>
              {index + 1}. <a href={post.slug}>{post.title}</a>
            </p>
          ))
        }
      </div>

      <!-- <div class="row mb-3 border">wiersz</div>

     
      <div class="row mb-3 border">wiersz</div>

  
      <div class="row mb-3 border">wiersz</div> -->
    </div>

    <!-- RIGHT SIDEBAR  -->
    <div class="col-12 col-lg-6 border">
      <p>RIGHT SIDEBAR</p>

      <!-- <pre class="text-start">{JSON.stringify(bigData, null,2)}</pre> -->
    </div>
  </div>
</Layout>
