---
import _ from "lodash";
import Layout from "../layouts/Layout.astro";
import CurrentYearAstro from "../components/CurrentYearAstro.astro";
import { URLS } from "../urls/urls";
import StartLearningButtonAstro from "../components/StartLearningButtonAstro.astro";

import { apiResponse } from "../settings/settings";

const {
  allCategories,
  allQuestions,
  questionsPerCategoryCountObj,
  firstQuestionUrlsObj,
} = apiResponse;

const currentYear = new Date().getFullYear();
---

<Layout
  title={`Darmowe testy na prawo jazdy ${currentYear}, wszystkie kategorie prawa jazdy:
   ${allCategories.join(", ").toUpperCase()} - w sumie ${
    allQuestions.length
  } pytań testowych`}
>
  <div class="row pb-3">
    <div class="LEFT MAIN col-12 col-lg-6">
      <div class="row pb-3">
        <div class="col">
          <h1 class="display-3 fw-bold">
            Testy na prawo jazdy <CurrentYearAstro />
          </h1>
          <p class="lead">
            Wszystkie pytania egzaminacyjne! Rozpocznij egzamin teoretyczny na
            prawo jazdy lub przeglądaj pytania testowe.
          </p>
        </div>
      </div>

      {
        allCategories.map((category) => (
          <>
            <StartLearningButtonAstro
              category={category}
              initialUrl={firstQuestionUrlsObj[category] || "#"}
            />
          </>
        ))
      }

      <div class="row pb-3">
        <p>
          <a
            href={URLS.DRIVING_LICENSE_CATEGIRIES}
            class="text-decoration-none"
          >
            Zmień domyślną kategorię pytań z testów na prawo jazdy jaką chcesz
            się uczyć!
          </a>
        </p>
      </div>

      <div class="row pb-3">
        <p>
          Ostatnią aktualizację bazy pytań testowych zrobiłem w lutym <CurrentYearAstro
          /> roku.
        </p>
      </div>

      <div class="row pb-3">
        <div class="col">
          <h2 class="display-5">
            <span>Największa darmowa baza</span>

            <span class="badge bg-warning text-dark">
              {allQuestions.length}
            </span>

            <span>
              wszystkich pytań testowych na prawo jazdy wszystkich kategorii!!!</span
            >
          </h2>

          <h3>Posiadamy w naszej bazie pytania wszystkich kategorii!</h3>

          <p class="lead">
            <span>Dostępne kategorie to:</span>
            <strong class="small">
              {allCategories.join(", ").toUpperCase()}
            </strong>
          </p>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col">
          <p>
            <strong>
              Kliknij poniżej i wybierz aktualną kategorię z testów na prawo
              jazdy której chcesz się teraz uczyć:
            </strong>
          </p>

          <div>
            {
              allCategories.map((category) => {
                return (
                  <button
                    class="btn btn-outline-secondary p-1 me-1 mb-1"
                    type="button"
                  >
                    <strong> {category} </strong>
                    <br />
                    <span class="small">
                      {questionsPerCategoryCountObj[category]} - pytań
                    </span>
                  </button>
                );
              })
            }
          </div>
        </div>
      </div>

      <div class="__right-sidebar col-12 col-lg-6">
        <div class="row pb-3">
          <div class="col">
            <h2>Blog i artykuły:</h2>
            <ul>
              <li>1. Lorem ipsum dolor sit.</li>
              <li>2. Lorem ipsum dolor sit.</li>
              <li>3. Lorem ipsum dolor sit.</li>
              <li>4. Lorem ipsum dolor sit.</li>
            </ul>

            <!-- <PostsFromOldWordpress client:load /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
