---
import _ from "lodash";
import Layout from "../layouts/Layout.astro";
import CurrentYearAstro from "../components/CurrentYearAstro.astro";
import StartLearningButtons from "../reactComponents/StartLearningButtons";

import { dataForBuild } from "../utils/utils";
import { URLS } from "../urls/urls";
import StartLearningButtonAstro from "../components/StartLearningButtonAstro.astro";

import CategoriesButtons from "../reactComponents/CategoriesButtons";
import Features from "../reactComponents/Features";
import PostsFromOldWordpress from "../reactComponents/PostsFromOldWordpress";
import type { ApiResponse } from "../store/types";

// const data: Promise<ApiResponse> = fetch(
//   "https://poznaj-testy-astro.netlify.app/api/all-questions/20.json"
// ).then((response) => response.json() as Promise<ApiResponse>);

// const {
//   allCategories,
//   questionsPerCategoryCount,
//   allQuestionsCount,
//   allQuestions,
// } = await data;

const { allCategories, firstQuestionUrlsObj, allQuestions } = dataForBuild;

const currentYear = new Date().getFullYear();
---

<Layout
  title={`Darmowe testy na prawo jazdy ${currentYear}, wszystkie kategorie prawa jazdy:
   ${allCategories.join(", ").toUpperCase()} - w sumie ${
    allQuestions.length
  } pytań testowych`}
>
  <div class="row pb-3">
    <div class="LEFT MAIN col-12 col-lg-6">
      <div class="row pb-3">
        <div class="col">
          <h1 class="display-3 fw-bold">
            Testy na prawo jazdy <CurrentYearAstro />
          </h1>
          <p class="lead">
            Wszystkie pytania egzaminacyjne! Rozpocznij egzamin teoretyczny na
            prawo jazdy lub przeglądaj pytania testowe.
          </p>
        </div>
      </div>

      {
        allCategories.map((category) => (
          <StartLearningButtonAstro
            category={category}
            initialUrl={firstQuestionUrlsObj[category] || "#"}
          />
        ))
      }

      <!-- <br /><br /><br /><br /><br />
      <StartLearningButtons
        client:load
        allCategories={allCategories}
        allQuestions={allQuestions}
      /> -->

      <div class="row pb-3">
        <p>
          <a
            href={URLS.DRIVING_LICENSE_CATEGIRIES}
            class="text-decoration-none"
          >
            Zmień domyślną kategorię pytań z testów na prawo jazdy jaką chcesz
            się uczyć!
          </a>
        </p>
      </div>

      <!-- ROW ROW  -->
      <div class="row pb-3">
        <p>
          Ostatnią aktualizację bazy pytań testowych zrobiłem w lutym <CurrentYearAstro
          /> roku.
        </p>
      </div>

      <div class="row pb-3">
        <div class="col">
          <h2 class="display-5">
            <span>Największa darmowa baza</span>

            <span class="badge bg-warning text-dark">
              {allQuestions.length}
            </span>

            <span>
              wszystkich pytań testowych na prawo jazdy wszystkich kategorii!!!</span
            >
          </h2>

          <h3>Posiadamy w naszej bazie pytania wszystkich kategorii!</h3>

          <p class="lead">
            <span>Dostępne kategorie to:</span>
            <strong class="small">
              {allCategories.join(", ").toUpperCase()}
            </strong>
          </p>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col">
          <p>
            <strong>
              Kliknij poniżej i wybierz aktualną kategorię z testów na prawo
              jazdy której chcesz się teraz uczyć:
            </strong>
          </p>

          <CategoriesButtons client:load />

          <!-- <div>
            {
              allCategories.map((cat) => {
                return (
                  <button class="btn btn-outline-secondary p-1 me-1 mb-1" type="button">
                    <strong> {cat} </strong>
                    <br />
                    <span class="small"> {allQuestions.filter((q) => q.categories.includes(cat)).length} - pytań</span>
                  </button>
                );
              })
            }
          </div> -->
        </div>
      </div>

      <div class="row pb-3">
        <div class="col">
          <Features client:load />
        </div>
      </div>
    </div>

    <div class="RIGHT SIDEBAR col-12 col-lg-6">
      <div class="row pb-3">
        <div class="col">
          <h2>Blog i artykuły:</h2>

          <PostsFromOldWordpress client:load />
        </div>
      </div>

      <!-- <pre class="text-start">{JSON.stringify(bigData, null,2)}</pre> -->
    </div>
  </div>
</Layout>
