---
import Layout from "../layouts/Layout.astro";
import H1 from "../reactComponents/H1";

const title = "Szkolenia wideo";
---

<Layout title={title}>
  <H1>{title}</H1>
  <p class="lead">Wkrótce...</p>

  {
    [
      {
        title: "Szkolenie 1",
        thumbnail: "https://via.placeholder.com/300x200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget ultricies lorem ipsum nec nisl. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget ultricies lorem ipsum nec nisl.",
      },
      {
        title: "Szkolenie 2",
        thumbnail: "https://via.placeholder.com/300x200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget ultricies lorem ipsum nec nisl. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget ultricies lorem ipsum nec nisl.",
      },
      {
        title: "Szkolenie 3",
        thumbnail: "https://via.placeholder.com/300x200",
        description:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget ultricies lorem ipsum nec nisl. Sed euismod, nisl vitae ultricies lacinia, nisl nisl aliquam lorem, eget ultricies lorem ipsum nec nisl.",
      },
    ].map((course) => {
      const { title, thumbnail, description } = course;

      return (
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src={thumbnail} class="card-img" alt={title} />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{title}</h5>
                <p class="card-text">{description}</p>
                <a href="#" class="btn btn-primary">
                  Zobacz ofertę
                </a>

                <a href="#" class="btn btn-success me-2">
                  Kup Teraz 47zł
                </a>
              </div>
            </div>
          </div>
        </div>
      );
    })
  }
</Layout>
