---
import CurrentCategory from "../reactComponents/CurrentCategory";
import GivenAnswersCount, { GIVEN_ANSWER_CORRECT, GIVEN_ANSWER_WRONG } from "../reactComponents/GivenAnswersCount";
import { URLS } from "../urls/urls";
---

<header>
  <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg Xfixed-top border-bottom border-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href={URLS.HOME}>
        <span>poznaj-<span class="text-danger">testy</span>.pl</span>
      </a>
      <div class="btn-group" role="group" aria-label="Testy prawo jazdy">
        {
          [
            { href: URLS.GOOD_ANSWERS, css: "btn-success", which: GIVEN_ANSWER_CORRECT as typeof GIVEN_ANSWER_CORRECT },
            { href: URLS.BAD_ANSWERS, css: "btn-danger", which: GIVEN_ANSWER_WRONG as typeof GIVEN_ANSWER_WRONG },
          ].map(({ href, css, which }) => (
            <a href={href} class={`btn btn-sm ${css}`}>
              <GivenAnswersCount client:load which={which} />
            </a>
          ))
        }
      </div>
      <div>
        <a href={URLS.DRIVING_LICENSE_CATEGIRIES} class="text-light text-decoration-none"
          >Kat: <CurrentCategory upperCase client:load /></a
        >
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style={{ flexGrow: 0 }} class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {
            [
              { label: "Pytania testowe", href: URLS.QUESTION_TABLE },
              { label: "Cennik", href: URLS.PRICING },
              // { label: "Blog", href: URLS.BLOG },
              { label: "Szkolenia", href: URLS.COURSES },
              { label: "Kategorie prawa jazdy", href: URLS.DRIVING_LICENSE_CATEGIRIES },
              { label: "Cennik", href: URLS.PRICING },
              { label: "Kontakt", href: URLS.CONTACT },
            ].map(({ label, href }) => (
              <li class="nav-item">
                <a class="nav-link text-center h-100 d-flex align-items-center justify-content-center" href={href}>
                  {label}
                </a>
              </li>
            ))
          }

          <!-- <form class="m-0">
            <a class="btn btn-secondary w-100" href={URLS.USER_ACCONT}
              >Twoje konto</a
            >
          </form> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
