---
import {Year} from "../reactComponents/Year.jsx";
import { URLS } from "../urls/urls.ts";
---

<header>
  <!-- NAVBAR  -->
  <nav
    id="navbar"
    class="navbar navbar-expand-md navbar-dark bg-dark shadow-lg fixed-top border-bottom border-dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href={URLS.HOME}>
      
        <span>Testy!</span>
        <Year client:visible/>
      </a>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <a href={URLS.GOOD_ANSWERS} class="btn btn-success btn-sm">0</a>
        <a href={URLS.BAD_ANSWERS} class="btn btn-danger btn-sm">0</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link text-center h-100 d-flex align-items-center justify-content-center"
              href={URLS.QUESTION_1}
            >
              pytanie 1
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-center h-100 d-flex align-items-center justify-content-center"
              href="cennik.html"
            >
              Cennik
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-center h-100 d-flex align-items-center justify-content-center"
              href="blog.html"
            >
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-center h-100 d-flex align-items-center justify-content-center"
              href="kategorie-prawa-jazdy.html"
            >
              Kategorie prawa jazdy
            </a>
          </li>

          <li class="nav-item mb-2 mb-md-0">
            <a
              class="nav-link text-center h-100 d-flex align-items-center justify-content-center"
              href="logowanie.html"
            >
              Logowanie
            </a>
          </li>
          <li class="nav-item mb-2 mb-md-0">
            <a
              class="nav-link text-center h-100 d-flex align-items-center justify-content-center"
              href="rejestracja.html"
            >
              Rejestracja
            </a>
          </li>
          <form class="m-0">
            <a
              class="btn btn-secondary w-100"
              :class="{'btn-success':uidFromAuth,'btn-danger':!uidFromAuth}"
              href="twoje-konto.html"
              >Twoje konto
            </a>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</header>
